---
layout: home
title: Home
order: 0
---

<div class="masonry row no-margin">
    {% for post in site.posts limit: 6 %}
        <div class="no-padding col-lg-4 col-md-6 col-xs-12">
            <article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
                <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ post.url }}">
                <meta itemprop="image" content="{{ site.url }}/photos/full/{{ post.image }}">
                <meta itemprop="thumbnailUrl" content="{{ site.url }}/photos/thumb/{{ post.image }}">
                <meta itemprop="description" content="{% if post.description %}{{ post.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
                <meta itemprop="url" content="{{ site.url }}{{ post.url }}">
                <meta itemprop="headline" content="{{ post.title }}">
                <meta itemprop="author" content="{{ site.author.name }}">
                <meta itemprop="datePublished" content="{{ post.date | date: '%m-%d-%Y' }}">
                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
                    <meta itemprop="name" content="{{ site.title }}">
                    <meta itemprop="logo" content="{{ site.url }}/assets/images/logo/gone-fishing-300.png">
                </div>

                <div class="post-cover">
                    <a href="{{ post.url }}"><img src="{{ site.baseurl }}photos/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
                </div>
                <div class="post-content">
                    <header class="post-header">
                        <h4>
                            <time itemprop="datePublished" content="{{ post.date | date: '%m-%d-%Y' }}">{{ post.date | date_to_string }}</time>
                            {% comment %}we assume an average reading speed of 150 wpm here{% endcomment %}
                            <span><i class="fa fa-clock-o"></i> {{ post.content | strip_html | split: " " | size | divided_by: 150 | ceil }} min to read</span>
                        </h4>
                        <h2 itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <h5><i class="fa fa-tags"></i> {% include tags.html tags=post.tags %}</h5>
                    </header>

                    {% if post.content contains "<!-- more -->" %}
                        {{ post.content | split: "<!-- more -->" | first | strip_html }}
                    {% elsif post.description %}
                        {{ post.description | strip_html }}
                    {% else %}
                        {{ post.content | strip_html | truncatewords: 100 }}
                    {% endif %}

                    <footer class="post-footer">
                        <a href="{{ post.url }}">read more</a>
                    </footer>
                </div>
            </article>
        </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="/travels/" class="load-more-link">More travel stories <i class="fa fa-caret-right"></i></a>
</div>

<h3 class="site-title">Recent photos</h3>

{% assign photos_page = site.pages | where: 'name', 'photos.html' | first %}
<div class="gallery row no-margin">
    {% for photo in photos_page.photos limit: 5 %}
    <div class="photo no-padding {% if forloop.first %}col-lg-6 col-md-4{% else %}col-lg-3 col-md-4{% endif %} col-sm-6 col-xs-12">
        <a href="{{ site.baseurl }}photos/full/{{ photo.filename }}" class="lightbox" title="{{ photo.title }}">
            <img src="{{ site.baseurl }}photos/thumb/{{ photo.filename }}" alt="{{ photo.title }}" />
        </a>
    </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="/photos/" class="load-more-link">More photos <i class="fa fa-caret-right"></i></a>
</div>
