---
layout: home
title: Home
order: 0
---

<div class="masonry row no-margin">
    {% for post in site.posts limit: 6 %}
        <div class="no-padding col-lg-4 col-md-6 col-xs-12">
            <div class="blog-post">
                <div class="post-cover">
                    <a href="{{ post.url }}"><img src="{{ site.baseurl }}photos/thumb/{{ post.image }}" alt="{{ post.title }}" /></a>
                </div>
                <div class="post-content">
                    <div class="post-header">
                        <h4>
                            {{ post.date | date_to_string }}
                            {% comment %}we assume an average reading speed of 150 wpm here{% endcomment %}
                            <span><i class="fa fa-clock-o"></i> {{ post.content | strip_html | split: " " | size | divided_by: 150 | ceil }} min to read</span>
                        </h4>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                        <h5><i class="fa fa-tags"></i> {% include tags.html tags=post.tags %}</h5>
                    </div>

                    {% if post.content contains "<!-- more -->" %}
                        {{ post.content | split: "<!-- more -->" | first | strip_html }}
                    {% elsif post.description %}
                        {{ post.description | strip_html }}
                    {% else %}
                        {{ post.content | strip_html | truncatewords: 100 }}
                    {% endif %}

                    <div class="post-footer">
                        <a href="{{ post.url }}">read more</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="/travels/" class="load-more-link">More travel stories <i class="fa fa-caret-right"></i></a>
</div>

<h3 class="site-title">Recent photos</h3>

{% assign photos_page = site.pages | where: 'name', 'photos.html' | first %}
<div class="gallery row no-margin">
    {% for photo in photos_page.photos limit: 5 %}
    <div class="photo no-padding {% if forloop.first %}col-lg-6 col-md-4{% else %}col-lg-3 col-md-4{% endif %} col-sm-6 col-xs-12">
        <a href="{{ site.baseurl }}photos/full/{{ photo.filename }}" class="lightbox">
            <img src="{{ site.baseurl }}photos/thumb/{{ photo.filename }}" alt="{{ photo.title }}" />
        </a>
    </div>
    {% endfor %}
</div>

<div class="text-center">
    <a href="/photos/" class="load-more-link">More photos <i class="fa fa-caret-right"></i></a>
</div>
