<div class="sidebar">
    <div class="row no-margin text-center">
        <h4>Newsletter</h4>

        <p>
            Stay on top of new stories!<br>
            I don't travel as much as I'd like, so <strong>I won't spam you</strong>.
        </p>
        {% include newsletter.html %}
    </div>


    {% if page.booking %}
    <div class="row no-margin">
        <h4>Stay here?</h4>

        <ins class="bookingaff" data-aid="1286305" data-target_aid="1286294" data-prod="dfl2" data-width="100%" data-height="auto" data-dest_id="{{ page.booking.id }}" data-dest_type="{{ page.booking.type }}" data-df_num_properties="3"></ins>
        <script type="text/javascript">
            (function(d, sc, u) {
                var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
                s.type = 'text/javascript';
                s.async = true;
                s.src = u + '?v=' + (+new Date());
                p.parentNode.insertBefore(s,p);
            })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
        </script>
    </div>
    {% endif %}


    <div class="row no-margin">
        <h4>Recent photos</h4>

        {% assign photos_page = site.pages | where: 'name', 'photos.html' | first %}
        <div class="row no-margin">
            {% for photo in photos_page.photos limit: 4 %}
            <div class="photo col-md-6 no-padding">
                <a href="{{ site.baseurl }}photos/full/{{ photo.filename }}" class="lightbox">
                    <img src="{{ site.baseurl }}photos/thumb/{{ photo.filename }}" alt="{{ photo.title }}" />
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <a href="/photos/" class="load-more-link">More photos <i class="fa fa-caret-right"></i></a>
        </div>
    </div>


    <div class="row no-margin">
        <h4>Advertisement</h4>

        <div class="ad adsense">
            {% include ads-sidebar.html %}
        </div>
    </div>
</div>
