---
layout: post-wide
title: Sights of the Panorama Route
description: >
    South Africa's R532 - in the north-east, not too far from Kruger National Park - is dubbed the Panorama Route for good reason: it offers some of the best South-African landscapes at the many viewpoints along the way, like God's Window, Bourke's Luck Potholes, the Three Rondavels, and a lot of waterfalls.
    For anyone going to Kruger Park, the Panorama Route is a must-see: it's only about 1 to 2 hours away from the southern Kruger Park gates.
image: 2017-07-31-panorama-route-three-rondavels.jpg
coordinate: [-25.037082,31.080536]
itinerary:
    - [-25.130645,30.694666,"Horse Shoe Falls"]
    - [-25.088631,30.778188,"Sabie Falls"]
    - [-25.000542,30.816329,"Mac Mac Falls"]
    - [-24.891191,30.754392,"Pilgrims Rest"]
    - [-24.932766,30.844152,"Graskop"]
    - [-24.912048,30.854459,"Pinnacle Rock"]
    - [-24.876541,30.888780,"God's Window"]
    - [-24.868313,30.896741,"Wonder View"]
    - [-24.861687,30.835869,"Lisbon Falls"]
    - [-24.843737,30.842609,"Berlin Falls"]
    - [-24.672758,30.807092,"Bourke's Luck Potholes"]
    - [-24.604216,30.815722,"Lowveld View"]
    - [-24.572182,30.798798,"Three Rondavels"]
tags: [Mpumalanga, South Africa, Nature]
booking: { id: 4086, type: 'region' }
---

<div class="row">
    <div class="col-sm-12">
        <p>
            South Africa's R532 - in the north-east, not too far from Kruger National Park - is dubbed the Panorama Route for good reason: it offers some of the best South-African landscapes at the many viewpoints along the way.
            For anyone going to Kruger Park, the Panorama Route is a must-see, as it's only about 1 to 2 hours away from the southern Kruger Park gates.
        </p>

        <!-- more -->

        <p>
            This was the first stop on our <a href="{{ site.baseurl }}travels/explore-south-africa/">South Africa trip</a> and we spent 2 nights at the <a href="http://www.booking.com/hotel/za/idle-amp-wild-chalet.html?aid=1286294&no_rooms=1&group_adults=1">Idle &amp; Wild Guesthouse</a> in Hazyview.
            I've been impressed with most of our accommodations in South Africa, and this one was no different.
            Our room was <strong>very</strong> big: 2 bedrooms, a bathroom with shower &amp; bath, a kitchen &amp; living room area, a private garden area with BBQ equipment and outdoor shower.
            And a cosy breakfast area with an amazing garden and pool.
        </p>

        <p>
            <i>
                Even though the guest house is only 16 &amp; 17 km (~10 mi) away from the Phabeni &amp; Numbi Gates, we were only here for the Panorama Route, and I'd suggest you do the same.
                If you're going to Kruger Park, you really want to find accommodation inside the park - you want to hear the animals sneaking around your camp at night!
            </i>
        </p>

        <!-- ads -->

        <p>
            About 45 minutes from Hazyview is Sabie, where we started our quest for beautiful scenery on a not even 100 km (~60 mi) drive to the north end of the Blyde River Canyon.
            But don't underestimate the time you'll spend on the Panorama Route!
            You could easily drive the entire length in 1:30h (just watch out for potholes!) but you'll need to get out of your car, pay a small cover/parking charge, and walk a little bit for most of the viewpoints.
            But most of the time will be spent admiring the waterfalls &amp; vistas!
        </p>

        <h2>Horse Shoe Falls, Lone Creek Falls, Bridal Veil Falls &amp; Sabie Falls</h2>

        <p>
            If you like waterfalls, you're in for a treat: there is no shortage of waterfalls along the Panorama Route.
            These 4 falls around around Sabie are a nice starter.
            Just try to be aware of how much time you spend here, because you'll really want to see a lot more!
        </p>

        <p>
            If you're short on time, I would cut some (or all) of these in favor of the rest on this list.
            There will be more waterfalls along the Panorama Route - bigger &amp; better.
        </p>

        <div class="small-gallery row no-margin">
            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-horse-shoe-falls.jpg" class="lightbox" title="Horse Shoe Falls">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-horse-shoe-falls.jpg" alt="Horse Shoe Falls" />
                </a>
            </div>

            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-horse-shoe-falls-2.jpg" class="lightbox" title="Horse Shoe Falls">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-horse-shoe-falls-2.jpg" alt="Horse Shoe Falls" />
                </a>
            </div>

            <div class="col-lg-12 no-padding text-center">
                <span>Horse Shoe Falls</span>
            </div>
        </div>

        <div class="small-gallery row no-margin">
            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-sabie-falls.jpg" class="lightbox" title="Sabie Falls">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-sabie-falls.jpg" alt="Sabie Falls" />
                </a>
            </div>

            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-sabie-falls-2.jpg" class="lightbox" title="Sabie River">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-sabie-falls-2.jpg" alt="Sabie River" />
                </a>
            </div>

            <div class="col-lg-12 no-padding text-center">
                <span>Sabie Falls</span>
            </div>
        </div>

        <h2>Mac Mac Pools &amp; Falls</h2>

        <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-macmac-falls.jpg" class="lightbox pull-right img-responsive col-lg-3 col-md-6 col-sm-12 no-padding" title="Mac Mac Falls">
            <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-macmac-falls.jpg" alt="Mac Mac Falls" class="pano" />
        </a>

        <p>
            Only a short drive from Sabie, the Mac Mac Falls - named after the many Scottish gold miners - is probably the most famous waterfall.
            It has twin falls falling down about 65 m (~215 ft), although the one side had mostly dried out when we were there.
        </p>

        <p>
            After parking your car right next to the R532, you'll walk for a few hundred meters along a wooden &amp; stone walkway with some views of the river below.
            You won't see the falls until the end of the walkway, when you reach the viewing platform.
        </p>

        <p>
            If you're not rushed, turn your car back around to the Mac Mac Pools.
            While not an impressive sight like the falls, you can swim in this series of pools.
            Or do the Secretary Bird Walk, a 3 km (2 mi) trail that starts at the pools and after which you'll most definitely want a refreshing dive.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Graskop &amp; Pilgrim's Rest</h2>

        <p>
            Before we get to the wild vistas, now might be a good time to get some food: Graskop will be the last town on this route.
        </p>

        <p>
            If you don't mind a little detour, you may just as well want to go into Pilgrim's Rest.
            It's smaller than Graskop and there's not much to do there, but it's an old mining town &amp; it's got some character.
        </p>

        <!-- ads -->

        <h2>The Pinnacle Rock, God's Window &amp; Wonder View</h2>

        <p>
            These 3 viewpoints will take you on a little detour on the R534, but it'll drop you off on the R532 again, right before the next waterfall.
        </p>

        <p>
            The Pinnacle Rock is a freestanding piece of rock that rises above the forrest, with a series of small waterfalls next to it.
            God's Window &amp; Wonder View are insanely high viewpoints providing a panorama of the Lowveld and the green Blyde River Canyon.
            A local told us that, on a clear day, you can see all the way to Mozambique from God's Window (which I estimate to be about ~150 km or 95 mi away.)
            I haven't done the math on how far the horizon stretches (I doubt the claims) but this has got to be one hell of a view!
        </p>

        <p>
            Unfortunately, fog often ruins these viewpoints, as was also the case for us.
            These viewpoints were nothing but white.
            Heck, we could barely see the front of the car until we got back on the R532!
        </p>

        <h2>Lisbon Falls</h2>

        <p>
            Just when you get back on the R532, you'll want to get off again for the Lisbon falls.
            This was my favorite waterfall: not only is it a pretty damn impressive waterfall (the highest, at 94 m or 308 ft) but you also get a good view of the river and the surrounding area.
            And you can take a little walk around here!
        </p>

        <div class="small-gallery row no-margin">
            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-lisbon-falls-walk.jpg" class="lightbox" title="A walk near the Lisbon Falls">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-lisbon-falls-walk.jpg" alt="A walk near the Lisbon Falls" />
                </a>
            </div>

            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-lisbon-falls.jpg" class="lightbox" title="Lisbon Falls">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-lisbon-falls.jpg" alt="Lisbon Falls" />
                </a>
            </div>
        </div>

        <h2>Berlin Falls</h2>

        <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-berlin-falls.jpg" class="lightbox pull-right img-responsive col-md-6 col-sm-12 no-padding" title="Berlin Falls">
            <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-berlin-falls.jpg" alt="Berlin Falls" class="pano" />
        </a>

        <p>
            Only a few minutes away from the Lisbon Falls (which, again, were named after the Portuguese gold miners) is another waterfall.
            This one's called the <q>Berlin Falls</q> - can you guess where these fortune seekers were from?
        </p>

        <p>
            The Berlin Falls are roughly 80 m (260 ft) high and start off with a small stream up top that cascades quite wide before leaping into the pool.
            A pool that you can swim in, by the way.
        </p>

        <p>
            But by now, I had mostly had enough with waterfalls - I was still a little frustrated with the fog messing up the amazing panoramas earlier!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Bourke's Luck Potholes</h2>

        <p>
            Where the Blyde &amp; Treur rivers meet, is another attraction.
            There are a few trails that start here, should you want to do some hiking, but the Bourke's Luck Potholes are the main point of interest.
            It's a geological attraction: these 2 rivers have been eroding the sandstone it flows through, forming these neat cylindrical potholes.
        </p>

        <div class="small-gallery row no-margin">
            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-bourkes-luck-potholes.jpg" class="lightbox" title="Bourke's Luck Potholes">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-bourkes-luck-potholes.jpg" alt="Bourke's Luck Potholes" />
                </a>
            </div>

            <div class="col-lg-6 no-padding text-center">
                <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-bourkes-luck-potholes-3.jpg" class="lightbox" title="Blyde River">
                    <img src="{{ site.baseurl }}photos/thumb/2017-07-31-panorama-route-bourkes-luck-potholes-3.jpg" alt="Blyde River" />
                </a>
            </div>
        </div>

        <h2>Lowveld View</h2>

        <p>
            Past the Bourke's Luck Potholes, we start gaining height until we reach another panoramic viewpoint.
            Unfortunately, this one was also covered in fog.
            Frustrating!
        </p>

        <h2>Three Rondavels</h2>

        <p>
            A 10 minute drive from the Lowveld View viewpoint was the last one of this trip.
            And it was mostly fog-free!
        </p>

        <p>
            Sun was about to set &amp; the viewpoint was closing soon, but we made it!
            I'm still somewhat frustrated about the fog messing up the previous viewpoints, but we wouldn't have made it to this one in time had it not been for that fog ruining the other vistas.
            And I really would've hated to miss this one.
        </p>

        <p>
            The <q>Three Rondavels</q> are 3 rocks that somewhat resemble a traditional round African hut (on the right side of the below image.)
            But you'll also see the Blyde River and the Blyde River Poort Dam down below, and a stunning view of the 3<sup>rd</sup> biggest canyon in the world.
        </p>

        <p>
            It is breathtaking.
            I could spend hours here.
            It was perfect.
        </p>

        <p>
            So eh, thanks, fog. I guess.
        </p>

        <a href="{{ site.baseurl }}photos/full/2017-07-31-panorama-route-three-rondavels.jpg" class="lightbox" title="Three Rondavels &amp; the Blyde River Canyon">
            <img src="{{ site.baseurl }}photos/large/2017-07-31-panorama-route-three-rondavels.jpg" alt="Three Rondavels &amp; the Blyde River Canyon" class="pano" />
        </a>

        <p>
            See the itinerary of this trip on the map below - or {% if page.itinerary %}<a href="https://www.google.ca/maps/dir{% for step in page.itinerary %}/{{ step[0] }},{{ step[1] }}{% endfor%}">open it in Google Maps</a>.{% endif %}
        </p>
    </div>
</div>