---
layout: page
image:
---

<div class="row no-margin main-bg">
    <div class="blog-post single-post blog-post-wide">
        <div class="gallery">
            <div class="post-cover">
                {% if page.video %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{ page.video }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                {% elsif page.image %}
                <a href="{{ site.baseurl }}/photos/full/{{ page.image }}" class="lightbox" title="{{ page.title }}">
                    <img src="{{ site.baseurl }}/photos/large/{{ page.image }}" alt="{{ page.title }}" />
                </a>
                {% endif %}
            </div>

            <div class="no-padding col-lg-9">
                <div class="post-content">
                    <article itemprop="mainEntity" itemscope itemtype="https://schema.org/BlogPosting">
                        <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ page.url }}">
                        <meta itemprop="image" content="{{ site.url }}/photos/full/{{ page.image }}">
                        <meta itemprop="thumbnailUrl" content="{{ site.url }}/photos/thumb/{{ page.image }}">
                        <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
                        <meta itemprop="url" content="{{ site.url }}{{ page.url }}">
                        <meta itemprop="headline" content="{{ page.title }}">
                        <meta itemprop="author" content="{{ site.author.name }}">
                        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
                            <meta itemprop="name" content="{{ site.title }}">
                            <meta itemprop="logo" content="{{ site.url }}/assets/images/logo/gone-fishing-300.png">
                        </div>

                        <header class="post-header">
                            <h4>
                                <time itemprop="datePublished" content="{{ page.date | date: '%m-%d-%Y' }}">{{ page.date | date_to_string }}</time>
                                {% comment %}we assume an average reading speed of 150 wpm here{% endcomment %}
                                <span><i class="fa fa-clock-o"></i> {{ page.content | strip_html | split: " " | size | divided_by: 150 | ceil }} min to read</span>
                            </h4>
                            <h1 itemprop="name">{{ page.title }}</h1>
                            <ul class="socials-post">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/home?status={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.url | uri_escape }}&media={{ page.image | prepend: "/photos/thumb/" | prepend: site.url | uri_escape }}&description="><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="mailto:?body={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                            <h5><i class="fa fa-tags"></i> {% include tags.html tags=page.tags %}</h5>
                        </header>

                        {% capture ads %}
                        <div class="ad adsense">{% include ads-content.html %}</div>
                        {% endcapture %}
                        {{ content | replace: "<!-- more -->", "" | replace: "<!-- ads -->", ads }}

                        <div class="ad adsense">{% include ads-leaderboard.html %}</div>

                        <footer class="post-footer">
                            <ul class="socials-post">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/home?status={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.url | uri_escape }}&media={{ page.image | prepend: "/photos/thumb/" | prepend: site.url | uri_escape }}&description="><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="mailto:?body={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </footer>

                        {% if page.coordinate or page.itinerary %}
                        <div class="map-location">
                            <div id="map"
                                 data-zoom="5"
                                 {% if page.coordinate %}data-markers="[{{ page.coordinate | jsonify | replace: '"', '&quot;' }}]" data-center="{{ page.coordinate | jsonify }}"{% endif %}
                                 {% if page.itinerary %}data-directions="{{ page.itinerary | jsonify | replace: '"', '&quot;' }}"{% endif %}
                            ></div>
                            <script src="https://maps.googleapis.com/maps/api/js?key={{ site.maps.key }}"></script>

                            {% if page.itinerary %}
                            <div class="pull-right">
                                <a href="https://www.google.ca/maps/dir{% for step in page.itinerary %}/{{ step[0] }},{{ step[1] }}{% endfor%}" class="btn">Open itinerary in Google Maps.</a>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </article>

                    <div class="row also-like">
                        <div class="col-md-12">
                            <h3 class="mini-title">You may also like</h3>
                        </div>

                        {% include related.html current=page limit=4 %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>
