---
layout: page
image: /assets/images/logo-300.png
---

<div class="row no-margin main-bg">
    <div class="blog-post single-post blog-post-wide">
        <div class="post-cover">
            {% if page.video %}
            <div class="video">
                <iframe src="{{ page.video }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            {% else %}
            <img src="{{ site.baseurl }}photos/{{ page.image }}" alt="{{ page.title }}" />
            {% endif %}
        </div>

        <div class="no-padding col-lg-9">
            <div class="post-content">
                <div class="post-header">
                    <h2>{{ page.title }}</h2>
                    <h5>{{ page.tags | array_to_sentence_string }}</h5>
                </div>

                {% capture ads %}
                <div class="ad adsense">{% include ads-content.html %}</div>
                {% endcapture %}
                {{ content | replace: "<!-- more -->", "" | replace: "<!-- ads -->", ads }}

                <div class="post-footer">
                    <ul class="socials-post">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/home?status={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://pinterest.com/pin/create/button/?url={{ page.url | prepend: site.url | uri_escape }}&media={{ page.image | prepend: "/photos/large/" | prepend: site.url | uri_escape }}&description="><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="mailto:?body={{ page.url | prepend: site.url | uri_escape }}"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

                {% if page.lat and page.lon %}
                <div class="map-location">
                    <div id="map" data-lat="{{ page.lat }}" data-lon="{{ page.lon }}"></div>
                    <script src="https://maps.googleapis.com/maps/api/js?key={{ site.maps.key }}"></script>
                </div>
                {% endif %}

                <div class="row also-like">
                    <div class="col-md-12">
                        <h3 class="mini-title">You may also like</h3>
                    </div>

                    {% for post in site.posts limit: 4 %}
                    <div class="col-md-3">
                        <div class="also-like-box">
                            <a href="{{ post.url }}"><img src="{{ site.baseurl }}photos/{{ post.image | replace: 'large', 'small' | replace: 'other', 'small' }}" alt="{{ post.title }}" /></a>
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            {% include sidebar.html %}
        </div>
    </div>
</div>
